
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

div.splashscreen {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	h6 {
		text-align: center;
	}
}

div.container {
	position: relative;
}
