li {
    margin-left: 1.5em;
}

p, li {
    color: #212121;
}

a:visited {
    color: #00695c;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}